{% extends "base.html.twig" %}

{% block title %}Blog de Gaël - Articles{% endblock %}

{% block content %}
    <section class="page-section articles" id="articles">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase mb-0">Articles</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for article in articles %}
                    <div class="col">
                        <div class="card h-100">
                            <img src="./assets/img/articles/default.jpg" class="card-img-top" alt="Titre de l'article">
                            <div class="card-body">
                                <h5 class="card-title">{{ article.getTitle() }}</h5>
                                <p class="card-text">{{ article.getCaption() }}</p> 
                                <p class="card-text">
                                    <small class="text-muted">
                                        Dernière modification faite le {{ (article.getUpdated_at() ?: article.getCreated_at()) | date('d/m/Y') }}
                                    </small>
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a class="card-link btn" href="/article/{{ article.getSlug() }}/{{ article.getId() }}">Voir l'article</a>
                            </div>
                        </div>
                    </div>                    
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}