{% extends "base.html.twig" %}

{% block content %}
    <!-- Update Article -->
    <section class="page-section update-article" id="update-article">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase mb-0">{{ post.title }}</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <form id="contact-form" method="POST" action="../../../app/Views/Posts/index.php">
                <div class="mb-3">
                    <label for="title">Titre :</label>
                    <input class="form-control" id="title" type="text" placeholder="{{ post.title }}" required/>
                </div>
                <div class="mb-3">
                    <label for="short-description">Description courte :</label>
                    <input class="form-control" id="short-description" type="text" placeholder="{{ post.shortDescription }}" required/>
                </div>
                <div class="mb-3">
                    <label for="author">Auteur :</label>
                    <input class="form-control" id="author" type="text" placeholder="{{ post.firstnameAuthor ~ ' ' ~ post.lastnameAuthor}}" required/>
                </div>
                <div class="mb-3">
                    <label for="message">Contenu :</label>
                    <textarea class="form-control" id="message" type="text" placeholder="{{ post.content }}" style="height: 10rem" required></textarea>
                </div>
                <div class="test">  
                    <button class="btn" id="submit-btn" type="submit">
                        Modifier l'article
                    </button>
                    <button class="btn" id="delete-article-btn">
                        <a href="#">Supprimer l'article</a>
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}