{% extends "base.html.twig" %}

{% block title %}Blog de Gaël - Administration des commentaires{% endblock %}

{% block content %}
    <section class="admin page-section mb-0" id="admin">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase">Administration des commentaires</h2>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="admin-table">
              {% if comments == false %}
                <p class="text-center">Il n'y a aucun commentaire en attente de validation.</p>
              {% endif %}
              {% if comments != false %}
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="text-center">Auteur</th>
                      <th scope="col">Contenu</th>
                      <th scope="col" class="text-center">Publié le</th>
                      <th scope="col" class="text-center">Actions</th>
                    </tr>
                  </thead>
                  {% for comment in comments %}
                    <tbody>
                      <tr>
                        <td class="col-2 text-center">{{ comment[1].getFirstname() ~ ' ' ~ comment[1].getLastname()}}</td>
                        <td class="col-4">{{ comment[0].getContent() }}</td>
                        <td class="col-2 text-center">{{ comment[0].getCreated_at() | date('d/m/Y') }}</td>
                        <td class="col-4">
                            <div class="td-btn text-center">
                                <a class="btn" href="/commentaire/{{ comment[0].getId() }}/validation">Valider</a>
                                <a class="btn" href="/commentaire/{{ comment[0].getId() }}/suppression">Refuser</a>
                                <a class="btn" href="/article/{{ comment[2].getSlug() }}/{{ comment[0].getArticle_id() }}">Voir l'article</a>
                            </div>
                        </td>
                      </tr>
                    </tbody>    
                  {% endfor %}
                </table>
                <nav>
                  <ul class="pagination">
                    {% if currentPage != 1 %}
                    <li class="page-item">
                      {% set previousPage = currentPage - 1 %}
                      <a href="/administration/commentaires?p={{ previousPage }}" class="btn page-link previous">Précédent</a>
                    </li>    
                    {% endif %}
                    {% if lastPage != true %}
                      <li class="page-item">
                        {% set nextPage = currentPage + 1 %}
                        <a href="/administration/commentaires?p={{ nextPage }}" class="btn page-link next">Suivant</a>
                      </li>
                    {% endif %}
                  </ul>
                </nav>
              {% endif %}
            </div>
            <div class="admin-btn text-center">
                <a class="btn" href="/administration">Retour</a>
            </div>
        </div>
    </section>
{% endblock %}