{% extends "base.html.twig" %}

{% block title %}Blog de Gaël - {{ post.title }}{% endblock %}

{% block content %}
    <!-- Article -->
    <section class="page-section article" id="article">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase mb-0">{{ post.title }}</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <img src="../assets/img/posts/default.jpg" class="img-fluid rounded-start" alt="...">
                        <h5 class="card-title text-center">{{ post.title }}</h5>
                        <div class="card-body">
                            <p class="card-text">{{ post.shortDescription }}</p>
                            <p class="card-text">{{ post.content }}</p>
                            <div class="card-footer">
                                <small class="text-muted">
                                    Publié le {{ post.createdAt | date('d/m/Y') }} 
                                    par {{ post.firstnameAuthor}} {{ post.lastnameAuthor }}
                                </small><br>
                                <small class="text-muted">Dernière modification faite le {{ post.lastUpdate | date('d/m/Y') }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn"><a href="/article/{{ post.id }}/edition">Modifier l'article</a></button>
            </div>
        </div>
    </section>
{% endblock %}