{% extends "base.html.twig" %}

{% block title %}Blog de Gaël - Accueil{% endblock %}

{% block content %}
    <!-- Popup -->
    {% include "layout/popup.html.twig" %}

    <!-- Header-->
    {% include "layout/header.html.twig" %}

    <!-- Recent articles -->
    <section class="page-section recent-articles" id="recent-articles">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase mb-0">Articles récents</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for article in articles %}
                    <div class="col">
                        <div class="card h-100">
                            <img src="../assets/img/articles/{{ article.getImage() }}" class="card-img-top" alt="Titre de l'article">
                            <div class="card-body">
                                <h5 class="card-title">{{ article.getTitle() }}</h5>
                                <p class="card-text"><small class="text-muted">
                                    Dernière modification faite le {{ (article.getUpdated_at() ?: article.getCreated_at) | date('d/m/Y') }}
                                </small></p>
                            </div>
                            <div class="card-footer text-center">
                                <a class="card-link btn" href="/article/{{ article.getSlug() }}/{{ article.getId() }}">Voir l'article</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="all-articles text-center">
                <a class="btn" href="/articles">Voir tous les articles</a>
            </div>
        </div>
    </section>

    <!-- CV -->
    <section class="cv page-section mb-0" id="cv">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase">Mon CV</h2>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row">
                <div class="col-lg-12 ms-auto">
                    <p class="lead text-center">
                        Vous souhaitez en savoir plus sur moi ? 
                        Découvrez mon CV au format PDF en cliquant sur le bouton ci-dessous.
                    </p>
                    <p class="text-center">
                        Le CV n'est plus disponible sur cette version, 
                        pour le consulter vous pouvez vous rendre sur mon <a href="https://gaelpaquien.com" target="_blank">site personnel</a>.
                    </p>
                </div>
            </div>
{#             <div class="text-center mt-4">
                <a class="btn" href="#" target="_blank">Voir le CV</a>
            </div> #}
        </div>
    </section>

    <!-- Contact -->
    <section class="contact page-section" id="contact">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase mb-0">Contactez-moi</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            {% if sentMail != null %}
                <div class="error success">{{ sentMail }}</div>
            {% endif %}
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <form id="contact-form" method="POST" action="/contact/enregistrement">
                        <div class="mb-3">
                            <label for="firstname">Prénom :</label>
                            <input class="form-control" name="firstname" id="firstname" type="text" placeholder="Entrer votre prénom..." required/>
                        </div>
                        <div class="mb-3">
                            <label for="lastname">Nom :</label>
                            <input class="form-control" name="lastname" id="lastname" type="text" placeholder="Entrer votre nom..." required/>
                        </div>
                        <div class="mb-3">
                            <label for="email">Email :</label>
                            <input class="form-control" name="email" id="email" type="email" placeholder="exemple@email.fr" required/>
                        </div>
                        <div class="mb-3">
                            <label for="subject">Sujet du message :</label>
                            <input class="form-control" name="subject" id="subject" type="text" placeholder="Entrer le sujet de votre message..." required/>
                        </div>
                        <div class="mb-3">
                            <label for="message">Message :</label>
                            <textarea class="form-control" name="message" id="message" type="text" placeholder="Entrer votre message..." style="height: 10rem" required></textarea>
                        </div>
                        <button class="btn" id="submit-btn" type="submit">Envoyer</button>
                        <input type="hidden" name="token" value="{{ formToken }}">
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}